<div class="address-parent">
    <div class="image-holder">
       <img src="https://cdn4.iconfinder.com/data/icons/e-commerce-181/512/477_profile__avatar__man_-512.png">
    </div>
    <div class="data-holder">
        <p class="label">Name</p>
        <p class="data">{{name}}</p>
    </div>
    <div class="data-holder">
        <p class="label">Phone</p>
        <p class="data">{{phone}}</p>
    </div>
    <div class="data-holder">
        <p class="label">Address</p>
        <p class="data">{{address}}</p>
    </div>
</div>
